<!-- https://service-manual.nhs.uk/design-system/components/buttons -->
{{ define "button" }}
  <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
    {{ .Text }}
  </button>
{{ end }}
