<!-- https://service-manual.nhs.uk/design-system/components/error-summary -->
{{ define "error-summary" }}
  <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
    <h2 class="nhsuk-error-summary__title" id="error-summary-title">{{ .Title }}</h2>
    <div class="nhsuk-error-summary__body">
      {{ .Error }}
    </div>
  </div>
{{ end }}
