<!-- https://service-manual.nhs.uk/design-system/components/textarea -->
{{ define "textarea" }}
  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="{{ .ID }}">{{ .Label }}</label>
    {{ template "hint-text" .HintText }}
    <textarea
      class="nhsuk-textarea"
      id="{{ .ID }}"
      name="{{ .Name }}"
      rows="{{ .Rows }}"
      aria-describedby="example-hint"
    ></textarea>
  </div>
{{ end }}
