# Template README

This is a template file. 

This file was created using Go version {{ .PluginConfig.GoVersion }}.

Please modify this README for your own use and place your template files in this directory.
