<!-- https://service-manual.nhs.uk/design-system/components/card -->
{{ define "card" }}
  <ul class="nhsuk-grid-row">
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h5 class="nhsuk-card__heading nhsuk-heading-xs">
            <a class="nhsuk-card__link" href="#">Order a repeat prescription</a>
          </h5>
        </div>
      </div>
    </li>
  </ul>
{{ end }}
