<!-- https://service-manual.nhs.uk/design-system/components/skip-link -->
{{ define "skip-link" }}
  <p class="nhsuk-body">To view the skip link, tab to this example, or click inside this example and press tab.</p>
  <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>
{{ end }}
