<!-- https://service-manual.nhs.uk/design-system/components/details -->
{{ define "details" }}
  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">{{ .Text }}</span>
    </summary>
    <div class="nhsuk-details__text">
      {{ .Details }}
    </div>
  </details>
{{ end }}
