<!-- https://service-manual.nhs.uk/design-system/components/expander -->
{{ define "expander" }}
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">{{ .Text }}</span>
    </summary>
    <div class="nhsuk-details__text">
      {{ .Details }}
    </div>
  </details>
{{ end }}
