<!-- https://service-manual.nhs.uk/design-system/components/images -->
{{ define "images" }}
  <figure class="nhsuk-image">
    <img class="nhsuk-image__img" src="{{ .Src }}" alt="{{ .Alt }}" />
    <figcaption class="nhsuk-image__caption">{{ .Caption }}</figcaption>
  </figure>
{{ end }}
