<!-- https://service-manual.nhs.uk/design-system/components/inset-text -->
{{ define "inset-text" }}
  <div class="nhsuk-inset-text">
    <span class="nhsuk-u-visually-hidden">{{ .HiddenText }} </span>
    <p>{{ .Text }}</p>
  </div>
{{ end }}
