# ![logo](./images/vision-logo.svg "Vision") &nbsp; Vision Plugin - {{.Name | Pascal}}

This plugin creates a standard {{.Name}} template

Vision plugins require golang (https://go.dev) to be installed

Install the plugin with

```
go install {{.Namespace}}
```

You will now see the {{.Name}} plugin commands on the vision cli

```
vision --help
```
